<!doctype html>
<html class="no-js" ng-app="wallet">
  <head>
    <meta charset="utf-8">
    <title>Wallet</title>
    <meta name="description" content="wallet">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    
     <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
            <i class="fa fa-bars fa-lg"></i>
          </button>
          <a class="navbar-brand" href="#">Wallet</a>
        </div>
        <div class="navbar-collapse collapse" id="main-navbar">
          <ul class="nav navbar-nav">
            <li class="active"><a ng-href="#">Home</a></li>
            <li><a ng-href="#">Reset</a></li>
            <li><a ng-href="#">View Source</a></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="container" ng-controller="MainCtrl">

      <div class="jumbotron">
        <h3 class="text-center">
          {{ grandTotal }} <span class="fa fa-euro"></span>
        </h3>
      </div>

      <div class="well">
        <div ng-show="error" class="alert alert-danger">{{ error }}</div>
        <form class="form-inline {{ amountForm.$valid ? '' : 'has-error' }}" name="amountForm">
          <input ng-model="amount" type="number" class="form-control" placeholder="Enter amount" min="0" required>
          <button ng-disabled="!amountForm.$valid" class="btn btn-success" ng-click="add()">ADD</button>
          <button ng-disabled="!amountForm.$valid" class="btn btn-danger" ng-click="remove()">REMOVE</button>
        </form>
      </div>

      <ul class="list-group">
        <li class="list-group-item" ng-repeat="transaction in transactions | orderBy:'-date'">
          <div class="row">
            <div class="col-md-1"><span class="label label-info">{{ transaction.date | date:'short' }}</span></div>
            <div class="col-md-8 col-md-offset-1 bg-{{ transaction.type === 'add' ? 'success' : 'danger' }}">
              <h4>
              {{ transaction.amount }} <span class="fa fa-euro"></span>
              </h4>
            </div>
          </div>
        </li>
      </ul>
    
    </div>
    

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/wallet.js"></script>
    <script src="scripts/main/main-ctrl.js"></script>
    <!-- inject:partials -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
